.cont-btn {
    background-color:rgb(124,179,66);
    border-radius: 50px ;
    
}
.cont-btn :hover {
    background-color: rgb(85,139,47);
    border-radius: 50px ;
}
.cont-btn a{
    
    letter-spacing: 1.5px;

}
.nav-item a {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-family: 'Anton', sans-serif;
    
}
.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.banner{
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1534349762230-e0cadf78f5da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1080&q=80');
}
.banner .slogan {
    font-size: 100px;
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Anton', sans-serif;
}

.features {
    background-color: rgb(249,251,231);
    padding-top: 5px;
    padding-right: 150px;
    padding-left: 150px;
    
}
.features .feature-head{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.features .row {
    text-align: center;
    align-items: center;
    align-content: center;
}

.features .row .cont {
    height: 200px;
    background-color: white;
    width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 30px;
}

.showcase{
    
    padding-top: 50px;
    padding-bottom: 50px ;


}
.showcase .row .slider {
    margin-right: 30px;
    margin-left: 30px;
}

.showcase .showcase-text {
    margin-right: 30px;
    margin-left: 30px;
}

.services {
    background-color: rgb(238,238,238);
    padding-top: 50px;
    padding-bottom: 50px ;
}
.services .card-deck {
    margin-left: 50px;
    margin-right: 50px;

}
.services .card-deck .card {
    margin-bottom:30px;

}

.services .main-text {
    margin-top: 30px; 
    margin-left: 50px;
    margin-right: 50px;
}

.navbar {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    opacity: 95%;
}

